<% if(theme.banner.enable){ %>
<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav id="sub-nav">
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
      </nav>
      <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
      </div>
    </div>
  </div>
  </header>
  <% } else { %>
  <header class="header-wrap">
    <div class="nav">
    <div class="site-brand">
      <div class="site-title">
        <a href="<%- url_for('/') %>"><%= theme.nav_name || 'GODBMW.com'%></a>
      </div>
    </div>
    <nav class="site-navigation">
      <ul class="nav-menu">
      <% for(let link of theme.nav){ %>
        <li class="nav-item" data-path="<%- link.path %>">
          <% if(!link.children) { %>
            <a 
              href="<%- url_for(link.path) %>"
              target="<%- link.blank ? '_blank' : '_self' %>"
            >
              <%- link.name %>
            </a>
          <% } else { %>
            <a href="javascript:void(0);" v-else><%- link.name %></a>
            <ul class="nav-menu--dropdown">
              <% for(let childrenLink of link.children){ %>
                <li>
                  <a 
                    href="<%- url_for(childrenLink.path)%>" 
                    target="<%- childrenLink.blank ? '_blank' : '_self' %>"
                  >
                    <%- childrenLink.name %>
                  </a>
                </li>
              <% } %>
            </ul>
          <% } %>
        </li>
      <% } %>
      </ul>
    </nav>
    <a id="main-nav-toggle" class="nav-icon"></a>
    </div>
</header>
<% } %>